@charset "UTF-8";

.complex-tab-table {
  .next-tabs-medium .next-tabs-tab-inner {
    height: 40px;
    line-height: 40px;
  }
}
.labelStyle{
  cursor:pointer;
  width:70px;
  height:25px;
  text-align: center;
  line-height: 25px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}